<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ManageLibraryEntities1" connectionString="metadata=res://*/Database.DatabaseEntity.csdl|res://*/Database.DatabaseEntity.ssdl|res://*/Database.DatabaseEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SSRU1D3\SQLEXPRESS;initial catalog=QL_THUVIEN;persist security info=True;user id=sa;password=sa2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLTVEntities" connectionString="metadata=res://*/DAL_BLL.QLTV.csdl|res://*/DAL_BLL.QLTV.ssdl|res://*/DAL_BLL.QLTV.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SSRU1D3\SQLEXPRESS;initial catalog=QLTV;user id=sa;password=sa2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <add name="QLTVEntities" metadata="res:"//*/DAL_BLL.QLTV.csdl|res://*/DAL_BLL.QLTV.ssdl|res://*/DAL_BLL.QLTV.msl;provider=System.Data.SqlClient;provider connection string="data source=125.212.218.21;initial catalog=sszzaxrw_QLTV;user id=sszzaxrw_winform;password=pqpqPQ111;MultipleActiveResultSets=True;App=EntityFramework" />
</configuration>